In [1]:
"""Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple"""

'Q1. Create one variable containing following type of data:\n(i) string\n(ii) list\n(iii) float\n(iv) tuple'

In [2]:
my_str = 'shweta'
type(my_str)

str

In [3]:
my_list = [1 , 3.65 , 'shweta' , False , [1,2,3], ('wnj','nswnj')]
type(my_list)

list

In [4]:
my_float = 54.85
type(my_float)

float

In [5]:
my_tuple = ('ghb' , 'vghfg')
type(my_tuple)

tuple

In [6]:
"""Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable."""

'Q2. Given are some following variables containing data:\n(i) var1 = ‘ ‘\n(ii) var2 = ‘[ DS , ML , Python]’\n(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]\n(iv) var4 = 1.\nWhat will be the data type of the above given variable.'

Answers i) string ii)string iii) list iv) float

In [8]:
"""
Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **
"""

'\nQ3. Explain the use of the following operators using an example:\n(i) /\n(ii) %\n(iii) //\n(iv) **\n'

In [9]:
"""
i) / is used for division.

for example.. """

a = 50
b = 5
a/b

10.0

In [10]:
"""
ii) % is used for getting the remainder amount.
for example.."""

a%b #as a is fully divided by b the answer should be 0

0

In [11]:
"""
iii) // is used to calculate in how many times a number is being divided by another number.
for example.."""

a//b

10

In [12]:
"""
iv) ** is used as 'to the power of'
for example..."""

b**2

25

In [8]:
"""
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.
"""
l = [1,2,3,4,5,6,7,8,9,10]

for i in l:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
"""
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.
"""

A = 88
B = 11
quotient = A//B
count = 1
while count<=1:
    if A % B==0:
        print(f"A is completely divisible by B. A divides B in {quotient} times" )
        count+=1

A is completely divisible by B. A divides B in 8 times

In [12]:
"""
Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.
"""

import random
lst = random.sample(range(1,100),25)
print(lst)

for i in lst:
    if i%3==0:
        print(i)
        print('this no is divisible by 3')
    else:
        print(i)
        print('this no is not divisible by 3')

[45, 77, 2, 81, 15, 60, 8, 40, 94, 32, 30, 71, 20, 79, 17, 16, 46, 91, 82, 37, 21, 49, 70, 86, 93]
45
this no is divisible by 3
77
this no is not divisible by 3
2
this no is not divisible by 3
81
this no is divisible by 3
15
this no is divisible by 3
60
this no is divisible by 3
8
this no is not divisible by 3
40
this no is not divisible by 3
94
this no is not divisible by 3
32
this no is not divisible by 3
30
this no is divisible by 3
71
this no is not divisible by 3
20
this no is not divisible by 3
79
this no is not divisible by 3
17
this no is not divisible by 3
16
this no is not divisible by 3
46
this no is not divisible by 3
91
this no is not divisible by 3
82
this no is not divisible by 3
37
this no is not divisible by 3
21
this no is divisible by 3
49
this no is not divisible by 3
70
this no is not divisible by 3
86
this no is not divisible by 3
93
this no is divisible by 3

In [14]:
"""
Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.
"""

"""
Mutable data types- those data types which can be altered at its memory ie when we can make changes in the original form.
For example: list
"""
lst1 = [1,2,'list']
lst1[1] = 'two'
print(lst1)

"""
Immutable data types = those data types which can not be altered at its memory ie when we can not make changes in the original form.
for example: string , tuple etc
"""
string = 'shweta'
string[3] = 'a'
print(string)

[1, 'two', 'list']

TypeError: 'str' object does not support item assignment